<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>serve</servlet-name>
    <servlet-class>ya.divaac.Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serve</servlet-name>
    <url-pattern>/j/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>fetch</servlet-name>
    <servlet-class>ya.divaac.Fetch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetch</servlet-name>
    <url-pattern>/f/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>select</servlet-name>
    <servlet-class>ya.divaac.Select</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>select</servlet-name>
    <url-pattern>/s/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>clear</servlet-name>
    <servlet-class>ya.divaac.Clear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>clear</servlet-name>
    <url-pattern>/clear/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>convert</servlet-name>
    <servlet-class>ya.divaac.Convert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>convert</servlet-name>
    <url-pattern>/cv/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>fetch</web-resource-name>
      <url-pattern>/f/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>clear</web-resource-name>
      <url-pattern>/clear/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>convert</web-resource-name>
      <url-pattern>/cv/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
